*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-box{
    background-color: #f0edf4;
    height: 12rem;
    width: 12vw;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rating {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(249, 249, 249);
    width: 4rem;
    height: 20px;
    margin:0;
    top:-35px;
    left: 80px;
    border-radius:10%;
  }
  .book img{
   margin:10px 10px -15px 40px;
   width: 50%;
   opacity: 0.8;
}
.book img:hover{
   opacity: 0.6;
}
.title{
    margin: 10px 40px;
}